# Podcast episodes
src/content/podcast/*.md

# Supporting data
src/data/*.json

# Content data
src/content/germantechpodcasts/*.json

# Transcripts
src/data/transcripts/*.json

# Podcast player
public/podcast-player/javascripts/*.js
public/podcast-player/*.html
public/js/player-0.1.0.min.js

# Github Action Workflows
.github/workflows