---
import MainHead from '../../components/MainHead.astro';
import Footer from '../../components/Footer.astro';
import Nav from '../../components/Nav.astro';
import BlogPostListing from '../../components/BlogPostListing.astro';

let title = 'Alle Blog Posts Episoden - Engineering Kiosk';
let description = 'Alle Blog Posts vom deutschsprachigen Software-Engineering-Podcast mit Wolfgang Gassler und Andy Grunwald über die Themen Engineering-Kultur, Open Source und Technologie.';
let canonicalURL = Astro.canonicalURL;
---
<html lang="de">
	<head>
		<MainHead title={title} description={description} image="/images/logos/pocast-episode-logo-cover.png" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<BlogPostListing numberOfItems=0 />

			<Footer />
		</div>
	</body>
</html>