@theme {
	--font-body: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-heading: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-darkCoolGray-50: #f5f6f7;
	--color-darkCoolGray-100: #ebedef;
	--color-darkCoolGray-200: #ced1d6;
	--color-darkCoolGray-300: #b0b5bd;
	--color-darkCoolGray-400: #757e8c;
	--color-darkCoolGray-500: #3a475b;
	--color-darkCoolGray-600: #344052;
	--color-darkCoolGray-700: #2c3544;
	--color-darkCoolGray-800: #232b37;
	--color-darkCoolGray-900: #1c232d;

	--color-coolGray-50: #f7f8f9;
	--color-coolGray-100: #eef0f3;
	--color-coolGray-200: #d5dae1;
	--color-coolGray-300: #bbc3cf;
	--color-coolGray-400: #8896ab;
	--color-coolGray-500: #556987;
	--color-coolGray-600: #4d5f7a;
	--color-coolGray-700: #404f65;
	--color-coolGray-800: #333f51;
	--color-coolGray-900: #2a3342;

	--color-indigo-50: #f8f6ff;
	--color-indigo-100: #f0eeff;
	--color-indigo-200: #dad4ff;
	--color-indigo-300: #c3b9ff;
	--color-indigo-400: #9685ff;
	--color-indigo-500: #6951ff;
	--color-indigo-600: #5f49e6;
	--color-indigo-700: #4f3dbf;
	--color-indigo-800: #3f3199;
	--color-indigo-900: #33287d;

	--color-violet-50: #fbf7ff;
	--color-violet-100: #f6eefe;
	--color-violet-200: #e9d5fd;
	--color-violet-300: #dcbbfc;
	--color-violet-400: #c288f9;
	--color-violet-500: #a855f7;
	--color-violet-600: #974dde;
	--color-violet-700: #7e40b9;
	--color-violet-800: #653394;
	--color-violet-900: #522a79;

	--color-yellow-50: #fffaf3;
	--color-yellow-100: #fef5e7;
	--color-yellow-200: #fde7c2;
	--color-yellow-300: #fbd89d;
	--color-yellow-400: #f8bb54;
	--color-yellow-500: #f59e0b;
	--color-yellow-600: #dd8e0a;
	--color-yellow-700: #b87708;
	--color-yellow-800: #935f07;
	--color-yellow-900: #784d05;

	--radius-5xl: 1.25rem;
	--radius-6xl: 1.375rem;
	--radius-7xl: 1.5rem;
	--radius-8xl: 2rem;
	--radius-9xl: 2.25rem;
	--radius-10xl: 2.5rem;
	--radius-11xl: 5rem;
}
