<section class="py-4 md:py-24 bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
	<div class="container px-4 mx-auto w-full md:w-1/2">
		<div class="mb-16 text-center">
			<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">Join the discussion</h3>
			<p>Join our Engineering Kiosk Alps Discord channel in our Engineering Kiosk Community full of developers and tech enthusiasts.</p>
			<a class="inline-block py-4 px-5 mt-2 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href="/join-discord">
				Join <img src="/images/brands/discord-blue.svg" class="inline w-5 mx-1" alt="Discord logo" title="Discord logo" /> Discord channel
			</a>
		</div>
	</div>
</section>
