---
import { formatDateWithoutWeekday } from '../../scripts/date.js';

// Build the list of Meetups
let allMeetups = await Astro.glob('../../pages/meetup/alps/meetups/*.md');
let upcomingMeetups = allMeetups.filter((meetup) => new Date(meetup.frontmatter.date) > new Date());
upcomingMeetups.sort((a, b) => new Date(a.frontmatter.date).valueOf() - new Date(b.frontmatter.date).valueOf());

let dates = upcomingMeetups.map((meetup) => meetup.frontmatter.date);

---
<section class="py-4 md:py-24 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
	<a name="newsletter"></a>
	<div class="container px-4 mx-auto w-full md:w-1/2">
		<div class="mb-16 text-center">
			<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">Interested in upcoming meetups?</h3>
			<p>
				Register to our Engineering Kiosk Alps newsletter and receive emails about upcoming meetups.<br />
				No worries, we won't spam you and you can unsubscribe at any time.
			</p>
			<form action="https://tinyletter.com/EngineeringKioskAlps" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/EngineeringKioskAlps', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="mt-4">
					<input type="hidden" value="1" name="embed" />
					<input class="m-2 px-3 h-12 text-coolGray-900 outline-none placeholder-coolGray-500 border border-coolGray-200 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-lg shadow-xsm" name="email" placeholder="Your email address" />
					<input type="submit" class="py-4 m-2 px-5 leading-4 cursor-pointer text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" value="Subscribe" />
				</div>
			</form>
		</div>
	</div>
	<div class="container px-4 mx-auto w-full md:w-1/2">
		<div class="mb-16 text-center">
			<h4 class="mb-4 text-xl md:text-xl leading-tight text-coolGray-900 font-bold tracking-tighter">Upcoming planned meetups:</h4>
			<p>
				{dates.slice(1).map((date) => 
					<b>{formatDateWithoutWeekday(date, 'en-US')}</b><br/> 
				)}	
			<br/>
				Please register to the Newsletter to get notified when the talk dates get fixed, as those are preliminary.
			</p>
		</div>
	</div>
</section>
