---

import { getPastMeetups, getNextMeetup } from '../../scripts/meetups';
import CompanyLogo from '../CompanyLogo.astro';


// fetch all meetups and extract all location sponsors.
// show a unique list of sponsors and their logos.

const meetupArchive = [ ... getPastMeetups(), getNextMeetup() ]
const sponsors = meetupArchive.reduce((acc, meetup) => {
	const location = meetup.location;
	acc[location.name] = location;
	return acc;
}, {});

const logos = Object.values(sponsors).filter(sponsor => sponsor.logo)
// shuffle the logos to be kind of fair ;)
logos.sort(() => Math.random() - 0.5);

---
<section class="py-4 md:py-24 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
	<div class="container px-4 mx-auto w-full md:w-1/2">
		<div class="mb-16 text-center">
			<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">Our Supporters</h3>
			<p>Our locations partners have been instrumental in helping us build a community of tech people in Tyrol.<br />We are grateful for their support!</p>
			<div class="mt-8">
				{logos.map(location => (
					<div class="h-14 mx-4 my-4 inline-block"><CompanyLogo name={location.name} logo={location.logo} url={location.url} logoHeight="56" /></div>
				))}
			</div>
		</div>
	</div>
</section>
