---
import Matomo from './Matomo.astro';

// Static website footer

const year = new Date().getFullYear();
---

<footer class="bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap pt-24 pb-12 -mx-4">
			<div class="w-full md:w-1/2 lg:w-4/12 px-4 mb-16 lg:mb-0">
				<a class="inline-block mb-4" href="/" title="Engineering Kiosk Startseite">
					<img class="h-8" src="/images/logos/engineering-kiosk-logo.png" alt="Engineering Kiosk Logo" title="Engineering Kiosk Logo" />
				</a>
				<p class="text-base md:text-lg text-coolGray-500 font-medium lg:w-64">
					Engineering Kiosk – Der deutschsprachige Software-Engineering-Podcast mit <a href="/kiosk-betreiber/wolfgang-gassler/">Wolfi Gassler</a> und <a href="/kiosk-betreiber/andy-grunwald/">Andy Grunwald</a>.
				</p>
			</div>
			<div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
				<h3 class="mb-5 text-lg font-bold text-coolGray-900">Engineering Kiosk</h3>
				<ul>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast Episoden" href="/podcast/">
							<span class="w-6 mr-2">🎙️</span> Podcast
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Blog" href="/blog/">
							<span class="w-6 mr-2">✍️</span> Blog
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Discord Community" href="/join-discord/">
							<img src="/images/brands/discord-blue.svg" class="inline w-6 mr-2" alt="Discord logo" title="Discord logo" /> Community
						</a>
					</li>
				</ul>
				<h3 class="mb-5 mt-10 text-lg font-bold text-coolGray-900">Die Kiosk-Betreiber</h3>
				<ul>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast Host Andy Grunwald" href="/kiosk-betreiber/andy-grunwald/">
							<span class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium"> Andy Grunwald</span>
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast Host Wolfi Gassler" href="/kiosk-betreiber/wolfgang-gassler/">
							<span class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium"> Wolfi Gassler</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
				<h3 class="mb-5 text-lg font-bold text-coolGray-900">Social Media</h3>
				<ul>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://twitter.com/engkiosk/" title="Engineering Kiosk auf twitter (@EngKiosk)">
							<img src="/images/brands/twitter_blue.svg" class="inline w-6 mr-2" alt="twitter logo" title="twitter logo" /> Twitter
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" rel="me" href="https://podcasts.social/@engkiosk" title="Engineering Kiosk auf Mastodon (@engkiosk@podcasts.social)">
							<img src="/images/brands/mastodon_purple.svg" class="inline w-6 mr-2" alt="Mastodon logo" title="Mastodon logo" /> Mastodon
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://www.instagram.com/engineeringkiosk/" title="Engineering Kiosk auf Instagram (@engineeringkiosk)">
							<img src="/images/brands/instagram.svg" class="inline w-6 mr-2" alt="Instagram logo" title="Instagram logo" /> Instagram
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://www.youtube.com/@engineeringkiosk" title="Engineering Kiosk auf YouTube (@engineeringkiosk)">
							<img src="/images/brands/youtube.svg" class="inline w-6 mr-2" alt="YouTube logo" title="YouTube logo" /> YouTube
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://www.linkedin.com/company/engineering-kiosk/" title="Engineering Kiosk auf LinkedIn (@engineering-kiosk)">
							<img src="/images/brands/linkedin_blue.svg" class="inline w-6 mr-2" alt="LinkedIn logo" title="LinkedIn logo" /> LinkedIn
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://www.tiktok.com/@engineeringkiosk" title="Engineering Kiosk auf TikTok (@engineeringkiosk)">
							<img src="/images/brands/tiktok.svg" class="inline w-6 mr-2" alt="TikTok logo" title="TikTok logo" /> TikTok
						</a>
					</li>
				</ul>
			</div>
			<div class="w-full md:w-1/3 lg:w-4/12 px-4">
				<h3 class="mb-5 text-lg font-bold text-coolGray-900">Anderes</h3>
				<ul>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Deutschsprachige Tech Podcasts" href="/deutsche-tech-podcasts/"> Deutschsprachige Tech Podcasts</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk RSS-Feed" href="/rss.xml"> RSS-Feed</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Kontakt-Seite" href="/kontakt/"> Kontakt</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Kontakt-Seite" href="/werbung/"> Werbung im Podcast</a>
					</li>					
					<li>
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Impressum" href="/impressum/"> Impressum</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="border-b border-coolGray-100"></div>
		<p class="py-10 md:pb-16 text-sm text-coolGray-400 font-medium text-center">
			© {year} Engineering Kiosk. Alle Rechte vorbehalten.
		</p>
	</div>
	<Matomo />
</footer>
