---
// Static website footer
---

<section class="bg-white" style="background-image: url('images/elements/pattern-white.svg'); background-position: center;">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap pt-24 pb-12 -mx-4">
        <div class="w-full md:w-1/2 lg:w-4/12 px-4 mb-16 lg:mb-0">
            <a class="inline-block mb-4" href="#">
            <img class="h-8" src="images/logos/flex-ui-yellow-light.svg" alt="">
            </a>
            <p class="text-base md:text-lg text-coolGray-500 font-medium lg:w-64">Launch your own Software As A Service Application with Flex Solutions.</p>
        </div>
        <div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
            <h3 class="mb-5 text-lg font-bold text-coolGray-900">Product</h3>
            <ul>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Features</a></li>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Solutions</a></li>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Pricing</a></li>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Tutorials</a></li>
            <li><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Updates</a></li>
            </ul>
        </div>
        <div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
            <h3 class="mb-5 text-lg font-bold text-coolGray-900">Remaining</h3>
            <ul>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Blog</a></li>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Newsletter</a></li>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Help Centre</a></li>
            <li class="mb-4"><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Careers</a></li>
            <li><a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="#">Support</a></li>
            </ul>
        </div>
        <div class="w-full md:w-1/3 lg:w-4/12 px-4">
            <h3 class="mb-5 text-lg font-bold text-coolGray-900">Newsletter</h3>
            <div class="flex flex-wrap">
            <div class="w-full lg:flex-1 py-1 lg:py-0 lg:mr-3">
                <input class="px-3 w-full h-12 text-coolGray-900 outline-none placeholder-coolGray-500 border border-coolGray-200 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-lg shadow-xsm" placeholder="Your email">
            </div>
            <div class="w-full lg:w-auto py-1 lg:py-0"><a class="inline-block py-4 px-5 w-full leading-4 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href="#">Subscribe</a></div>
            </div>
        </div>
        </div>
    </div>
    <div class="border-b border-coolGray-100"></div>
    <p class="py-10 md:pb-16 text-sm text-coolGray-400 font-medium text-center">© 2021 Flex. All rights reserved.</p>
</section>
