---
import Matomo from './Matomo.astro';

// Static website footer
---

<footer class="bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap pt-24 pb-12 -mx-4">
        <div class="w-full md:w-1/2 lg:w-4/12 px-4 mb-16 lg:mb-0">
            <a class="inline-block mb-4" href="/">
                <img class="h-8" src="/images/logos/engineering-kiosk-logo.png" alt="Engineering Kiosk Logo" title="Engineering Kiosk Logo">
            </a>
            <p class="text-base md:text-lg text-coolGray-500 font-medium lg:w-64">
                Engineering Kiosk – Der deutschsprachige Software-Engineering-Podcast mit <a href="/kiosk-betreiber/wolfgang-gassler/">Wolfgang Gassler</a> und <a href="/kiosk-betreiber/andy-grunwald/">Andy Grunwald</a>.
            </p>
        </div>
        <div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
            <h3 class="mb-5 text-lg font-bold text-coolGray-900">Engineering Kiosk</h3>
            <ul>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast Episodes" href="/podcast/">
                        <span class="w-6 mr-2">🎙️</span> Podcast
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Blog" href="/blog/">
                        <span class="w-6 mr-2">✍️</span> Blog
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Discord Community" href="/join-discord/">
                        <img src="/images/brands/discord-blue.svg" class="inline w-6 mr-2" alt="Discord logo" title="Discord logo"> Community
                    </a>
                </li>
            </ul>
            <h3 class="mb-5 mt-10 text-lg font-bold text-coolGray-900">
                Die Kiosk-Betreiber
            </h3>
            <ul>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/kiosk-betreiber/andy-grunwald/">
                        <span class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium">
                            Andy Grunwald
                        </span>
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/kiosk-betreiber/wolfgang-gassler/">
                        <span class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium">
                            Wolfgang Gassler
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
            <h3 class="mb-5 text-lg font-bold text-coolGray-900">
                Social Media
            </h3>
            <ul>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://twitter.com/engkiosk/" title="Engineering Kiosk auf twitter (@EngKiosk)">
                        <img src="/images/brands/twitter_blue.svg" class="inline w-6 mr-2" alt="twitter logo" title="twitter logo"> Twitter
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://podcasts.social/@engkiosk" title="Engineering Kiosk auf Mastodon (@engkiosk@podcasts.social)">
                        <img src="/images/brands/mastodon_purple.svg" class="inline w-6 mr-2" alt="Mastodon logo" title="Mastodon logo"> Mastodon
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="https://www.instagram.com/engineeringkiosk/">
                        <img src="/images/brands/instagram.svg" class="inline w-6 mr-2" alt="Instagram logo" title="Instagram logo"> Instagram
                    </a>
                </li>
            </ul>
            <h3 class="mb-5 mt-10 text-lg font-bold text-coolGray-900">
                Anderes
            </h3>
            <ul>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/deutsche-tech-podcasts/">
                        Deutschsprachige Tech Podcasts
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/rss.xml">
                        RSS-Feed
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/newsletter/">
                        Newsletter
                    </a>
                </li>
                <li class="mb-4">
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/kontakt/">
                        Kontakt
                    </a>
                </li>
                <li>
                    <a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href="/impressum/">
                        Impressum
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-1/3 lg:w-4/12 px-4">
            <h3 class="mb-5 text-lg font-bold text-coolGray-900">
                Newsletter
            </h3>
            <form action="https://tinyletter.com/EngineeringKiosk" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/EngineeringKiosk', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <div class="flex flex-wrap">
                    <input type="hidden" value="1" name="embed"/>
                    <div class="w-full lg:flex-1 py-1 lg:py-0 lg:mr-3">
                        <input class="px-3 w-full h-12 text-coolGray-900 outline-none placeholder-coolGray-500 border border-coolGray-200 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-lg shadow-xsm" name="email" placeholder="Deine E-Mail-Adresse">
                    </div>
                    <div class="w-full lg:w-auto py-1 lg:py-0">
                        <input type="submit" class=" py-4 px-5 leading-4 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" value="Anmelden">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="border-b border-coolGray-100"></div>
    <p class="py-10 md:pb-16 text-sm text-coolGray-400 font-medium text-center">
        © 2022 Engineering Kiosk. Alle Rechte vorbehalten.
    </p>
</footer>
<Matomo />