---
import { Image } from "astro:assets";

import Footer from '../../components/Footer.astro';
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';

let title = 'Unsere aktuellen Werbepartner';
let description = 'Unsere aktuellen Werbepartner im Engineering Kiosk Podcast.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<html lang="de">
	<head>
		<MainHead title={title} description={description} image="/images/headers/andy-grunwald-wolfgang-gassler-lounge.jpg" {canonicalURL} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<section class="py-4 sm:py-10 bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
				<div class="container px-4 mx-auto">
					<div class="flex flex-wrap mb-24 lg:mb-18 justify-between items-center">
						<div class="w-full">
							<h2 class="mb-4 text-4xl md:text-5xl text-darkCoolGray-900 font-bold tracking-tighter leading-tight">Unsere aktuellen Werbepartner</h2>
								<div class="flex flex-wrap lg:items-start -mx-4 my-8">
								
								<div class="w-full md:w-3/5 px-4">
									<a href="https://happy-bootstrapping.de/">
											<Image class="w-full md:w-1/2 m-4 -ml-1" src={(await import(`../../images/partners/happy-bootstrapping.jpg`)).default} alt="Happy Bootstrapping" title="Happy Bootstrapping" />
										</a>
									
									<p class="mb-6 text-lg md:text-xl text-coolGray-400 font-medium">
										Happy Bootstrapping ist ein Podcast über das Gründen von Unternehmen und den Aufbau erfolgreicher Geschäfte. Erfahre mehr über Unternehmertum, Bootstrapping-Strategien und inspirierende Gründergeschichten.

Besuche: <a href="https://happy-bootstrapping.de/" class="text-lg md:text-xl text-yellow-500 hover:text-yellow-600 font-medium">happy-bootstrapping.de</a>.
									</p>
								</div>
							</div>							
						</div>			
					</div>
				</div>
			</section>

			<section class="py-10 bg-white" style="background-image: url('/images/elements/pattern-light1.svg'); background-position: center;">
				<div class="container px-4 mx-auto">
					<div class="flex flex-wrap my-8">
						<div class="max-w-lg mx-auto text-center">
							<h3 class="mb-2 text-2xl md:text-3xl leading-9 text-coolGray-900 font-bold">Deine Werbung bei uns?</h3>
							<a class="text-lg md:text-xl text-yellow-500 hover:text-yellow-600 font-medium" href="/podcast-werbung/">Alle Informationen zur Zusammenarbeit mit dem Engineering Kiosk Podcast</a>
						</div>
					</div>
				</div>
			</section>

			<Footer />
		</div>
	</body>
</html>
