requests == 2.32.3
PyYAML == 6.0.2
python-frontmatter == 1.1.0
beautifulsoup4 == 4.13.4
toml == 0.10.2
lxml == 5.4.0
spotipy == 2.25.1
Pillow == 11.2.1
deezer-python == 7.1.1
gitpython == 3.1.44
assemblyai == 0.41.1
validators == 0.35.0
python-youtube == 0.9.7