requests == 2.32.3
PyYAML == 6.0.2
python-frontmatter == 1.1.0
beautifulsoup4 == 4.12.3
toml == 0.10.2
lxml == 5.3.0
spotipy == 2.25.0
Pillow == 11.0.0
deezer-python == 7.1.1
gitpython == 3.1.44
assemblyai == 0.36.0
validators == 0.34.0
python-youtube == 0.9.7