requests == 2.31.0
python-slugify == 8.0.1
PyYAML == 6.0.1
python-frontmatter == 1.0.0
beautifulsoup4 == 4.12.2
toml == 0.10.2
lxml == 4.9.3
spotipy == 2.23.0
Pillow == 10.0.0
deezer-python == 6.1.0
gitpython == 3.1.32
pytest == 7.4.0